@import "tailwindcss";

/* Hide scrollbar for WebKit (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

@keyframes scroll-sponsors {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-sponsors {
  animation: scroll-sponsors 30s linear infinite;
}

/*Colors*/
:root {
  --color-primary: #0073ce; /* Blue */
  --color-secondary: #ffff00; /* Yellow */
  --color-accent: #ffff70; /* lighter yellow*/
  --color-background: #fefecc; /* Pastel Yellow */
  --color-text: #2d3748; /* Dark Text */
  --color-link: rgb(167, 167, 250); /* Blue Link */
}

/* Background utilities */
.bg-true-blue {
  background-color: var(--color-primary);
}

.bg-yellow {
  background-color: var(--color-background);
}

/* Text utilities */
.text-true-blue {
  color: var(--color-primary);
}

.text-yellow {
  color: var(--color-secondary);
}

.hover\:text-true-blue:hover {
  color: var(--color-primary);
}

.border-blue {
  border-color: var(--color-primary);
}
